# Archivos de Node
/backend/node_modules
/frontend/node_modules

# Archivos de entorno
.env

# Archivos de build
/frontend/dist
/backend/dist

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Vite
/frontend/.vite